:root {
  --cor-c12: #000;
  --cor-c3: #dedede;
  --cor-c2: #ededed;
  --cor-c5: #b2b2b2;
  --cor-p1: #ffbb00;
  --cor-p5: #332200;
  --cor-c0: #ffff;
  --padding: 35px 43px;
  --bg: #2e2e2e;
  --cor-c6: #9c9c9c;
  --cor-c10: #2e2e2e;
  --cor-texto-f: #9c9a9a;
}

.bg-c12 {
  background: var(--cor-c12);
}

.cor-p5 {
  color: var(--cor-p5);
}

.cor-t-footer {
  color: var(--cor-texto-f);
}

.cor-c10 {
  color: var(--cor-c10);
}

.cor-c0 {
  color: var(--cor-c0);
}

.cor-p1 {
  color: var(--cor-p1);
}

.cor-c5 {
  color: var(--cor-c5);
}

.cor-c6 {
  color: var(--cor-c6);
}

/* font */
.arial-medium {
  font-family: "Arial", sans-serif;
  font-size: 0.875rem;
  line-height: 1.28;
  font-style: normal;
  font-weight: 500;
}

.arial-p {
  font-family: "Arial", sans-serif;
  font-weight: 100;
  font-size: 0.75;
  line-height: 1.66;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.25;
  font-size: 3rem;
  font-style: normal;
}

/* novas classes utilitarias */
.poppins-semibold-p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.25;
  font-size: 1rem;
}

.poppins-p-botao {
  font-size: 1.25rem;
  line-height: 1.25;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.roboto-medium-modalidades {
  font-size: 1.85rem;
  line-height: 1.33;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-texto-footer {
  font-size: 1.125rem;
  line-height: 1.77;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-titulo {
  font-size: 2rem;
  line-height: 1.25;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-texto {
  font-size: 0.9rem;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-form {
  font-size: 1rem;
  line-height: 1.25;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Poppins-medium-titulo-p {
  font-size: 1.5rem;
  line-height: 1.25;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-faq {
  font-size: 4rem;
  line-height: 1.125;
  font-style: normal;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.poppins-titulo-footer {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.6;
  font-style: normal;
}

.bg-footer {
  background: #000;
}

.marca-footer {
  margin-bottom: 32px;
}

.bg-footer h3 {
  color: #fff;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
}

.copy {
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

.informacoes-footer,
.formulario {
  justify-self: center;
}

.funcionamento {
  margin-bottom: 32px;
}

.endereco-rua {
  margin-bottom: 32px;
}

.endereco-email {
  margin-bottom: 32px;
}

.endereco-wha {
  margin-bottom: 32px;
}

.redes-sociais {
  display: flex;
  gap: 30px;
}

.bg-footer span {
  color: #DF1A00;
}

.flex-redes {
  display: flex;
  gap: 8px;
  align-items: center;
}

.endereco h3 {
  margin-bottom: 4px;
}

.endereco-rua h3 {
  margin-bottom: 4px;
}

/* formulário */
.formulario input {
  width: 250px;
  padding: 10px;
  background: #000;
  color: #fff;
  border-color: var(--cor-c3);
  margin-top: 10px;
  border-radius: 4px;
}

.texto-footer {
  color: #9c9c9c;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 20px;
}

.formulario textarea {
  width: 250px;
  padding: 0px 10px;
  background: #000;
  border-color: var(--cor-c3);
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  border-radius: 4px;
}


.div-botao {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* responsivo */
@media (max-width: 1000px) {
  .container-footer {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width: 500px) {
  .container-footer h3 {
    font-size: 1.2rem;
  }

  .container-footer p {
    font-size: 1rem;
  }

  .texto-footer {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .container-footer h3 {
    font-size: 1rem;
  }

  .formulario input {
    width: 200px;
  }

  .formulario textarea {
    width: 200px;
  }

  .formulario h3 {
    text-align: center;
  }

  .formulario button {
    width: 200px;
  }

  .container-footer p {
    font-size: 0.9rem;
  }

  .marca-footer {
    width: 200px;
  }

  .texto-footer {
    font-size: 0.7rem;
  }

  .informacoes-footer div {
    justify-self: center;
  }
}

.div-botao button {
  cursor: pointer !important;
}

.flex-redes img {
  cursor: pointer !important;
}